@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --bar: #2c4759;
  --text: #ffffff;
  --text-cont: #000000;
  --icons: #102236;
  --orange: #ff6f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #2c4759;
    --bar: #ffffff;
    --text: #2c4759;
    --text-cont: #000000;
    --icons: #102236;
    --orange: #ff6f00;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
